<button mat-flat-button color="primary" matTooltip="New link" class="me-2">
    <mat-icon class="material-icons">add</mat-icon>
</button>
<button mat-stroked-button color="primary" class="me-2" (click)="getLinks(true)">
    <mat-icon class="material-icons">refresh</mat-icon>
</button>

<mat-form-field class="search-field" appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput type="search" placeholder="Term" value="">
</mat-form-field>

<mat-divider></mat-divider>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="fwToken">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Token </th>
        <td mat-cell *matCellDef="let link">
            <mat-chip-list #chipList >
                <mat-chip><a href="https://go.edi.wang/fw/{{link.fwToken}}" target="_blank">{{link.fwToken}}</a></mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <ng-container matColumnDef="originUrl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Origin Url </th>
        <td mat-cell *matCellDef="let link">
            <a href="{{link.originUrl}}" target="_blank">{{link.originUrl}}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Note </th>
        <td mat-cell *matCellDef="let link"> {{link.note}} </td>
    </ng-container>

    <ng-container matColumnDef="akaName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Aka </th>
        <td mat-cell *matCellDef="let link"> {{link.akaName ?? '/' }} </td>
    </ng-container>

    <ng-container matColumnDef="isEnabled">
        <th mat-header-cell *matHeaderCellDef> Enabled </th>
        <td mat-cell *matCellDef="let link">
            <mat-checkbox [(ngModel)]="link.isEnabled" (change)="checkLink(link)"></mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="ttl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TTL </th>
        <td mat-cell *matCellDef="let link"> {{link.ttl}} </td>
    </ng-container>

    <ng-container matColumnDef="updateTimeUtc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Update Time (UTC) </th>
        <td mat-cell *matCellDef="let link"> {{link.updateTimeUtc | date:'yyyy-MM-dd HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let link">
            <a mat-stroked-button color="primary">
                <mat-icon class="material-icons">share</mat-icon>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef> Manage </th>
        <td mat-cell *matCellDef="let link">
            <a mat-stroked-button color="primary" class="me-1">
                <mat-icon class="material-icons">edit</mat-icon>
            </a>
            <a mat-stroked-button color="warn" (click)="deleteLink(link.id)">
                <mat-icon class="material-icons">delete</mat-icon>
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
</mat-paginator>