/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";


html,
body {
  height: 100%;
}

body {
  padding-top: 70px;
}

a {
  text-decoration: none;
}
